.cartochki {
  padding: 108px 0 119px;
  text-align: center;

  &__title {
    margin-bottom: 65px;
    text-align: left;
  }

  &-card {
    max-width: 366px;
    width: 100%;
    background: #D3D7E0;
    box-shadow: 0px 6px 30px rgba(18, 17, 39, 0.15);
    border-radius: 12px;
    padding: 40px 24px 20px;
    margin: 0 auto;

    img {
      width: 100%;
    }

    &__title {
      font-size: 21px;
      line-height: 140%;
      text-align: center;
    }

    &:hover &__title {
      color: $blue;
    }
  }

  &__value {
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #3874CB;
    margin-top: 47px;
    margin-bottom: 23px;

    span {
      font-weight: bold;
      font-size: 40px;
    }
  }

  &__conclusion {
    font-family: 'Manrope';
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #78808F;
    width: 260px;
    margin-top: 22px;
    margin-left: 20px;
  }

  &__list {
    margin-left: 12px;
    line-height: 160%;
    color: #78808F;
    text-align: left;
  }
}